TZ=UTC
PORT= 
API_HOST= # api.domain.com 
DATABASE_URL= # postgresql://[user[:password]@][host][:port][/dbname][?param1=value1&param2=value2]
RATE_LIMIT_DEFAULT= # number of requests per minute
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD= # if required
RUN_MIGRATIONS= # true/false - run migrations on application bootstrap 